form{

  background-color: #D4A190;
  font-size: xx-large;
  text-align: center;
  border-radius: 50px;
}
#user-form input{
    width: 30%;
    margin: auto;
    text-align: center;
}

body{

font-family: 'Montserrat', sans-serif;
}
.header{
  text-align: center;
  letter-spacing: 5px;
  background-color: #A1D490;
  padding: 20px;
}
.header h1{
font-size: 80px;

}

#moviePhoto{
  float: left;
  width:30%;

}
#movieDisplay{
  list-style: none;
  background-color: #90C3D4;
  border-radius: 40px;
  font-size: 30px;
  padding-bottom: 40px;
}
#listDisplay{
  border-radius: 40px;
  font-size: 25px;
  background-color: #A1D490;
  padding: 20px;

}
.rules h2{
text-align: center;
}
.rules ul{
  padding: 0 30%;
  width: 100%;
    list-style-type: upper-roman
}
